/* src/components/Navbar.css */

.navbar {
    background-color: #b1b3b7;
    padding: 15px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    font-size: 20px; /* Adjust font size based on your preference */
  }
  